/* Estilo geral do banner */
.banner-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 15px;
}

/* Conteúdo do banner */
.banner-content {
  flex: 1;
  padding: 20px;
  text-align: left;
  margin-left: 20px;
}

/* Título do banner */
.banner-content .title {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #000;
}

/* Descrição do banner */
.banner-content .description {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6D6A6A;
}

/* Imagem do banner */
.banner-content .banner-image {
  max-width: 50%; /* Defina a largura máxima para 50% do contêiner */
  height: auto; /* Deixe a altura ajustável para manter a proporção */
  float: right;
  margin-right: 20px;
}

/* Botões de seleção */
.banner-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 60px;
  margin-left: -20px;
}

.banner-buttons button {
  background-color: #fff;
  border: none;
  padding: 0.5px 1.5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 100%;
}

.banner-buttons button.active {
  border: solid 1px #000;
}
