/* Container principal que envolve o texto e o formulário */
.container-client {
  display: flex;
  justify-content: space-between; /* Para separar em duas colunas */
  align-items: flex-start; /* Alinhar ao topo */
  padding: 2px;
  margin-left: 36px;
  margin-right: 54px;
  gap: 150px;
}

/* Container para os textos (h1 e p) */
.text-container-client {
  flex: 1; /* Ocupa 50% do espaço */
  margin-right: 20px;
}

/* Estilo para o h1 */
.text-h1-client {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Estilo para o p */
.text-p-client {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* Container para o formulário */
.form-container-client {
  flex: 1; /* Ocupa 50% do espaço */
  max-width: 700px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
}


/* Estilo para o formulário */
.register-client-form-client {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Estilo para os labels dos inputs */
.form-group label {
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-right: 20px;
}

/* Estilo para os inputs */
.form-input-client {
  height: 50px; /* Altura de 80px */
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 25px;
  margin-top: 20px;
}

/* Estilo para campos específicos */
.form-input-client.name {
  width: 250px; /* Médio-grande */
}

.form-input-client.lastName {
  width: 300px; /* Maior */
}

.form-input-client.phone {
  width: 200px; /* Médio */
}

.form-input-client.cpf {
  width: 250px; /* Médio-grande */
}

.form-input-client.cnh {
  width: 250px; /* Médio-grande */
}

.form-input-client.yearOfBirth {
  width: 150px; /* Pequeno */
}

.form-input-client.email {
  width: 300px; /* Grande */
}

.form-input-client.password {
  width: 250px; /* Médio-grande */
}

/* Estilo para o botão de submit */
.submit-button, .next-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 120px;
}

/* Estilo do botão de submit e next ao passar o mouse */
.submit-button:hover, .next-button:hover {
  background-color: #333;
}
